# created by virtualenv automatically
.venv/bin

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Виртуальное окружение
venv/
ENV/
env/
.env

# Медиа и статические файлы в продакшене
/media/
/static/
!/static/css/
!/static/js/
!/static/img/

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.AppleDouble
.LSOverride

# Файлы резервных копий
*~
*.bak

# Секретные данные
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Файлы кэша Pytest
.pytest_cache/
.coverage
htmlcov/

# Файлы NodeJS, если используются для фронтенда
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Файлы миграций (опционально)
# */migrations/*
# !*/migrations/__init__.py

# Файлы кэша и сессий
.cache/
.sass-cache/
sessions/
