Django==5.1.7
Pillow==10.3.0
psycopg2-binary==2.9.9
django-crispy-forms==2.1
requests==2.31.0
gunicorn==21.2.0
django-environ==0.11.2
django-filter==24.2
python-dateutil==2.9.0
pytest==8.2.0
pytest-django==4.8.0
whitenoise==6.7.0
django-debug-toolbar==4.3.0
django-cors-headers==4.3.1

# Зависимости для безопасности
python-magic==0.4.27
argon2-cffi==23.1.0  # Для Argon2 хеширования паролей
django-axes==6.2.0  # Для защиты от атак перебором (brute force)
django-csp==3.7  # Для Content-Security-Policy
django-ratelimit==4.1.0  # Для ограничения количества запросов
bleach==6.1.0  # Для очистки HTML от потенциально опасных элементов
safety==2.3.5  # Для проверки уязвимостей в зависимостях